/* 
 * Imake template and rules for MME
 *
 * Copyright (C) 1993,1994 ZGDV
 *
 */

CC=gcc
CFLAGS += -std=c17
CDEBUGFLAGS=-g
SYS_LIBRARIES = -lXext -lXm -lXmu -lXt -lX11 -lm

.SUFFIXES:      .cc .C .c .exe

.cc.o:
	$(CC) $(CFLAGS) -c $*.cc

#ifndef MakeDistTarget
#define MakeDistTarget(files) 				@@\
							@@\
dist::							@@\
	-for i in files  ; do \				@@\
	( cd $(ROOT) ; \				@@\
	  tar ruvf $(DIST_TAR_FILE) CURDIR/$$i ; \	@@\
	); \						@@\
	done
#endif /* MakeDistTarget */
